<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->
    
    <ng-container matColumnDef="solicitudEDP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de Solicitud EDP </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/show', element.solicitudEDP]">
          {{element.solicitudEDP}}
        </a>
      </td>
    </ng-container>

    <!-- Departamento Column -->
    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
      <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
    </ng-container>

    <!-- Municipio Column -->
    <ng-container matColumnDef="municipio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
      <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
    </ng-container>

    <!-- Documento Propiedad Column -->
    <ng-container matColumnDef="documentoPropiedad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resolucion de Adjudicación </th>
      <td mat-cell *matCellDef="let element"> {{element.documentoPropiedad}} </td>
    </ng-container>

    <!-- Actividad Diferente Column -->
    <ng-container matColumnDef="actividadDiferente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad Diferente </th>
      <td mat-cell *matCellDef="let element"> {{element.actividadDiferente}} </td>
    </ng-container>

    <!-- Grupo Etario Column -->
    <ng-container matColumnDef="grupoEtario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo Etario </th>
      <td mat-cell *matCellDef="let element"> {{element.grupoEtario}} </td>
    </ng-container>

    <!-- Abandono Column -->
    <ng-container matColumnDef="estadoAbandono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Abandono </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoAbandono}} </td>
    </ng-container>
    
    <!-- Infraestructura Instalada Column -->
    <ng-container matColumnDef="infraestructuraInstalada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Infraestructura Instalada </th>
      <td mat-cell *matCellDef="let element"> {{element.infraestructuraInstalada}} </td>
    </ng-container>

    <!-- Estado Infraestrutura Column -->
    <ng-container matColumnDef="estadoInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Infraestrutura </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoInfraestructura}} </td>
    </ng-container>

    <!-- Exisistia Infraestructura Column -->
    <ng-container matColumnDef="tipoInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Exisistia Infraestructura </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoInfraestructura}} </td>
    </ng-container>

    <!-- Inversión Infraestructura Column -->
    <ng-container matColumnDef="inversionInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inversión Infraestructura </th>
      <td mat-cell *matCellDef="let element"> {{element.inversionInfraestructura}} </td>
    </ng-container>

    <!-- Energia Electrica Column -->
    <ng-container matColumnDef="energiaElectrica">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Energia Electrica </th>
      <td mat-cell *matCellDef="let element"> {{element.energiaElectrica}} </td>
    </ng-container>

    <!-- Abasteciomiento Agua Column -->
    <ng-container matColumnDef="abasteciomientoAgua">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Abasteciomiento Agua </th>
      <td mat-cell *matCellDef="let element"> {{element.abasteciomientoAgua}} </td>
    </ng-container>

    <!-- Actividad Adjudicada Column -->
    <ng-container matColumnDef="actividadAdjudicada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad Adjudicada </th>
      <td mat-cell *matCellDef="let element"> {{element.actividadAdjudicada}} </td>
    </ng-container>

    <!-- Calidad Servicio Prestado Column -->
    <ng-container matColumnDef="calidadServicioPrestado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Calidad Servicio Prestado </th>
      <td mat-cell *matCellDef="let element"> {{element.calidadServicioPrestado}} </td>
    </ng-container>

    <!-- Inversion de Recursos Column -->
  <ng-container matColumnDef="inversionActividades">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inversion de Recursos </th>
      <td mat-cell *matCellDef="let element"> {{element.inversionActividades}} </td>
    </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>