<div class="filtros">
    <mat-form-field>
      <mat-label>Numero de Solicitud EDP</mat-label>
      <input matInput type="text" [formControl]="solicitiudFilter" placeholder="Numero de Solicitud EDP">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Departamento</mat-label>
        <input matInput type="text" [formControl]="departamentoFilter" placeholder="Departamento">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Municipio</mat-label>
      <input matInput type="text" [formControl]="municipioFilter" placeholder="Municipio">
    </mat-form-field>
    <mat-form-field>
      <mat-label>1.3 - Tipo de Territorio</mat-label>		
        <mat-select [formControl]="tipoTerritorioFilter">
          <mat-option value="">Todos</mat-option>
          <mat-option value="vereda">Vereda</mat-option>
          <mat-option value="corregimiento">Corregimiento</mat-option>
          <mat-option value="municipal">Cabecera Municipal</mat-option>
          <mat-option value="na">N/A</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>1.4 - Zona de Manejo</mat-label>
      <mat-select [formControl]="zonaManejoFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="pdet">PDET</mat-option>
        <mat-option value="zrc">ZRC</mat-option>
        <mat-option value="zvc">Zona Veredales de Concentración</mat-option>
        <mat-option value="na">N/A</mat-option>
        <mat-option value="otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>2.3 - Resolución de Adjudicación</mat-label>
      <mat-select [formControl]="documentoPropiedadFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="registrada">Resolución de adjudicación registrada</mat-option>
        <mat-option value="sin registrar">Resolución de adjudicación sin registrar</mat-option>
        <mat-option value="otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>2.6 - Actividad Diferente</mat-label>
      <mat-select [formControl]="actividadDiferenteFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>2.9 - Grupo Etario</mat-label>
      <mat-select [formControl]="grupoEtarioFilter">
        <mat-option value="">Todos</mat-option>
        <mat-option value="primera infacia">Primera Infacia</mat-option>
        <mat-option value="infancia">Infancia</mat-option>
        <mat-option value="preadolescentes">Preadolescentes</mat-option>
        <mat-option value="adolescentes">Adolescentes</mat-option>
        <mat-option value="adultos">Adultos</mat-option>
        <mat-option value="adultos mayores">Adultos Mayores</mat-option>
        <mat-option value="todas anteriores">Todas las Anteriores</mat-option>
        <mat-option value="ninguna">Ninguna</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>2.10 - Abandono</mat-label>
      <mat-select [formControl]="estadoAbandonoFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.1 - Infraestructura Instalada</mat-label>
      <mat-select [formControl]="infraestructuraInstaladaFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
        <mat-option value="na">N/A</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.2 - Estado Infraestructura</mat-label>
      <mat-select [formControl]="estadoInfraestructuraFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="exelente">Exelente</mat-option>
        <mat-option value="muy bueno">Muy Bueno</mat-option>
        <mat-option value="bueno">Bueno</mat-option>
        <mat-option value="regular">Regular</mat-option>
        <mat-option value="malo">Malo</mat-option>
        <mat-option value="pesimo">Pésimo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.3 - Exisistia Infraestructura</mat-label>
      <mat-select [formControl]="tipoInfraestructuraFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.4 - Inversion Infraestructura</mat-label>
      <mat-select [formControl]="inversionInfraestructuraFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.5 - Energia Electrica</mat-label>
      <mat-select [formControl]="energiaElectricaFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
        <mat-option value="na">N/A</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>3.6 - Abasteciomiento Agua</mat-label>
      <mat-select [formControl]="abasteciomientoAguaFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
        <mat-option value="na">N/A</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>4.6 - institucion</mat-label>
      <mat-select [formControl]="institucionFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="jac">JAC</mat-option>
        <mat-option value="institucion educativa">Institución Educativa</mat-option>
        <mat-option value="comunidad territorio">Comunidad</mat-option>
        <mat-option value="otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>4.7 - Actividad Adjudicada</mat-label>
      <mat-select [formControl]="actividadAdjudicadaFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="deacuerdo">Completamente acorde al objetivo de adjudicación</mat-option>
        <mat-option value="parcialmente">Parcialmente acorde al objetivo</mat-option>
        <mat-option value="incompatible">Incompatible con la adjudicación</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>4.9 - Estado Actual</mat-label>
      <mat-select [formControl]="estadoActualFilter">
        <mat-option value="">Todos</mat-option>
        <mat-option value="exelente">Exelente</mat-option>
        <mat-option value="muy bueno">Muy Bueno</mat-option>
        <mat-option value="bueno">Bueno</mat-option>
        <mat-option value="regular">Regular</mat-option>
        <mat-option value="malo">Malo</mat-option>
        <mat-option value="pesimo">Pésimo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>4.10 - Calidad Servicio Prestado</mat-label>
      <mat-select [formControl]="calidadServicioPrestadoFilter">
        <mat-option value="">Todos</mat-option>
        <mat-option value="exelente">Exelente</mat-option>
        <mat-option value="muy bueno">Muy Bueno</mat-option>
        <mat-option value="bueno">Bueno</mat-option>
        <mat-option value="regular">Regular</mat-option>
        <mat-option value="malo">Malo</mat-option>
        <mat-option value="pesimo">Pésimo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>4.11 - Inversion Actividades</mat-label>
      <mat-select [formControl]="inversionActividadesFilter">
        <mat-option value="">Todas</mat-option>
        <mat-option value="si">Si</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div class="botones-exportar">
  <button class="exportar-boton" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'Reporte', sheet: 'sheet_name', Props: {Author: 'ANT-Reportes'}})">Exportar a Excel</button>
  <button class="exportar-boton" mat-raised-button (click)="exporter.exportTable('csv', {fileName:'Reporte', sheet: 'sheet_name', Props: {Author: 'ANT-Reportes'}})">Exportar a CSV</button>
  <button class="exportar-boton" mat-raised-button (click)="generateGraphs()">Generar Graficos</button>
  <button class="exportar-boton" mat-raised-button (click)="downloadData()">Generar Reporte</button>
  <!-- <button mat-raised-button (click)="exporter.exportTable('json', {fileName:'Reporte', sheet: 'sheet_name', Props: {Author: 'ANT-Reportes'}})">Json</button>
  <button mat-raised-button (click)="exporter.exportTable('txt', {fileName:'Reporte', sheet: 'sheet_name', Props: {Author: 'ANT-Reportes'}})">Txt</button> -->
</div>
<table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Name Column -->
    
    <ng-container matColumnDef="solicitudEDP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
        <div class="header">Numero de Solicitud EDP</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/show', element.solicitudEDP]">
          {{element.solicitudEDP}}
        </a>
      </td>
    </ng-container>

    <!-- Departamento Column -->
    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1.1 Departamento </th>
      <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
    </ng-container>

    <!-- Municipio Column -->
    <ng-container matColumnDef="municipio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1.2 Municipio </th>
      <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
    </ng-container>

    <!-- Documento Propiedad Column -->
    <ng-container matColumnDef="tipoTerritorio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
         <div class="header"> 1.3 Tipo de Territorio</div>
        </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoTerritorio}} </td>
    </ng-container>

    <!-- Documento Propiedad Column -->
    <ng-container matColumnDef="zonaManejo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1.4 Zona de Manejo </th>
      <td mat-cell *matCellDef="let element"> {{element.zonaManejo}} </td>
    </ng-container>

    <!-- Documento Propiedad Column -->
    <ng-container matColumnDef="documentoPropiedad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 2.3 Resolucion de Adjudicación </th>
      <td mat-cell *matCellDef="let element"> {{element.documentoPropiedad}} </td>
    </ng-container>

    <!-- Actividad Diferente Column -->
    <ng-container matColumnDef="actividadDiferente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 2.6 Actividad Diferente </th>
      <td mat-cell *matCellDef="let element"> {{element.actividadDiferente}} </td>
    </ng-container>

    <!-- Grupo Etario Column -->
    <ng-container matColumnDef="grupoEtario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 2.9 Grupo Etario </th>
      <td mat-cell *matCellDef="let element"> {{element.grupoEtario}} </td>
    </ng-container>

    <!-- Abandono Column -->
    <ng-container matColumnDef="estadoAbandono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 2.10 Abandono </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoAbandono}} </td>
    </ng-container>
    
    <!-- Infraestructura Instalada Column -->
    <ng-container matColumnDef="infraestructuraInstalada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.1 Infraestructura Instalada </th>
      <td mat-cell *matCellDef="let element"> {{element.infraestructuraInstalada}} </td>
    </ng-container>

    <!-- Estado Infraestructura Column -->
    <ng-container matColumnDef="estadoInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.2 Estado Infraestructura </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoInfraestructura}} </td>
    </ng-container>

    <!-- Exisistia Infraestructura Column -->
    <ng-container matColumnDef="tipoInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.3. Exisistia Infraestructura </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoInfraestructura}} </td>
    </ng-container>

    <!-- Inversión Infraestructura Column -->
    <ng-container matColumnDef="inversionInfraestructura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.4 Inversión Infraestructura </th>
      <td mat-cell *matCellDef="let element"> {{element.inversionInfraestructura}} </td>
    </ng-container>

    <!-- Energia Electrica Column -->
    <ng-container matColumnDef="energiaElectrica">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.5 Energia Electrica </th>
      <td mat-cell *matCellDef="let element"> {{element.energiaElectrica}} </td>
    </ng-container>

    <!-- Abasteciomiento Agua Column -->
    <ng-container matColumnDef="abasteciomientoAgua">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3.6 Abasteciomiento Agua </th>
      <td mat-cell *matCellDef="let element"> {{element.abasteciomientoAgua}} </td>
    </ng-container>

    <!-- Institucion Column -->
    <ng-container matColumnDef="institucion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 4.4 Institucion Perteneciente </th>
      <td mat-cell *matCellDef="let element"> {{element.institucion}} </td>
    </ng-container>

    <!-- Actividad Adjudicada Column -->
    <ng-container matColumnDef="actividadAdjudicada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 4.7 Actividad Adjudicada </th>
      <td mat-cell *matCellDef="let element"> {{element.actividadAdjudicada}} </td>
    </ng-container>

    <!-- Estado Actual Column -->
    <ng-container matColumnDef="estadoActual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 4.8 Estado Actual </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoActual}} </td>
    </ng-container>

    <!-- Calidad Servicio Prestado Column -->
    <ng-container matColumnDef="calidadServicioPrestado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 4.9 Calidad Servicio Prestado </th>
      <td mat-cell *matCellDef="let element"> {{element.calidadServicioPrestado}} </td>
    </ng-container>

    <!-- Inversion de Recursos Column -->
  <ng-container matColumnDef="inversionActividades">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 4.10 Inversion de Recursos </th>
      <td mat-cell *matCellDef="let element"> {{element.inversionActividades}} </td>
    </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
