table {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.filtros{
    margin-left: 10px;
    margin-right: 10px;
}

.filtros mat-form-field{
    margin-left: 5px;
}

.botones-exportar {
    margin-left: 10px;
    margin-bottom: 10px;
}

.exportar-boton {
    background-color: #F4AE2F;
    color: white;
    margin-left: 5px;
}

th {
    text-align: center;
    font-size: 12px;
    background-color: #069868;
    color: white;
}

td {
    text-align: center;
    font-size: 12px; 
}
