<div>
    <a [routerLink]="['/index']">Index</a>
</div>
<!-- <div *ngFor="let item of data">
<p>{{ item.solicitudEDP }}</p>
</div>

<div *ngFor="let item of displayedColumns">
<p>{{ item }}</p>
</div> -->

<div>
    <button class="imprimir no-print" mat-raised-button onClick="window.print();">Imprimir</button>
</div>

<div class="graficos" id="departamento"></div>

<div class="graficos" id="municipio"></div>

<div class="graficos" id="tipoTerritorio"></div>


<div class="graficos" id="zonaManejo"></div>


<div class="graficos" id="documentoPropiedad"></div>


<div class="graficos" id="actividadDiferente"></div>


<div class="graficos" id="grupoEtario"></div>


<div class="graficos" id="estadoAbandono"></div>


<div class="graficos" id="infraestructuraInstalada"></div>


<div class="graficos" id="estadoInfraestructura"></div>


<div class="graficos" id="tipoInfraestructura"></div>


<div class="graficos" id="inversionInfraestructura"></div>


<div class="graficos" id="energiaElectrica"></div>


<div class="graficos" id="abasteciomientoAgua"></div>


<div class="graficos" id="institucion"></div>


<div class="graficos" id="actividadAdjudicada"></div>


<div class="graficos" id="estadoActual"></div>


<div class="graficos" id="calidadServicioPrestado"></div>


<div class="graficos" id="inversionActividades"></div>

