<div class="container">
    <a [routerLink]="['/index']">Index</a>
    <!-- <div *ngFor="let item of data">
        <p>{{ item.solicitudEDP }}</p>
    </div>

    <div *ngFor="let item of displayedColumns">
        <p>{{ item }}</p>
    </div> -->
    <br>

    <div id="tipoTerritorio" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="zonaManejo" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="documentoPropiedad" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="actividadDiferente" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="grupoEtario" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="estadoAbandono" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="infraestructuraInstalada" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="estadoInfraestructura" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="tipoInfraestructura" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="inversionInfraestructura" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="energiaElectrica" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="abasteciomientoAgua" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="institucion" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="actividadAdjudicada" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="estadoActual" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="calidadServicioPrestado" style="height: 370px; width: 100%;"></div>

    <br>

    <div id="inversionActividades" style="height: 370px; width: 100%;"></div>


</div>



