.mat-toolbar {
    background-color: #069868;
    color: white;
}

.logut-button{
    background-color:  #00906F;
}

.imagen-cabezera{
    margin: 10px;
}

.cabezera-imagen{
    width: 100%;
    border-radius: 20px;
}